absl-py==2.1.0
accelerate==0.34.2
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
airportsdata==20250224
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.6.0
arrow==1.3.0
arxiv==2.2.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.1.0
autoflake==1.7.8
av==14.2.0
babel==2.17.0
beautifulsoup4==4.13.3
bitsandbytes==0.45.2
black==22.3.0
bleach==6.2.0
blinker==1.9.0
blis==1.2.1
boto3==1.37.12
botocore==1.37.12
Brotli==1.1.0
bytecode==0.16.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
chex==0.1.89
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.3.1
crcmod==1.7
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
datasets==3.6.0
debugpy==1.8.14
decorator==4.4.2
decord==0.6.0
deepspeed==0.16.4
defusedxml==0.7.1
diffusers==0.32.2
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dm-haiku==0.0.13
dm-tree==0.1.9
docker-pycreds==0.4.0
docstring_parser==0.16
duckduckgo_search==5.3.1b1
easydict==1.13
einops==0.6.1
einops-exts==0.0.4
einshape==1.0
et_xmlfile==2.0.0
etils==1.12.0
exceptiongroup==1.2.2
executing==2.2.0
facexlib==0.3.0
fairscale==0.4.13
fastapi==0.115.8
fastjsonschema==2.21.1
feedparser==6.0.11
ffmpy==0.5.0
filelock==3.14.0
filterpy==1.4.5
fire==0.7.0
flake8==3.8.1
flash_attn==2.7.4.post1
flatbuffers==25.2.10
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.2.0
ftfy==6.3.1
func_timeout==4.3.5
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
gdown==5.2.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
gradio==3.35.2
gradio_client==0.2.9
griffe==0.49.0
-e git+https://github.com/IDEA-Research/Grounded-SAM-2@dd4c5141b75e4838dd486c64f773c43b4db3a07b#egg=groundingdino&subdirectory=grounding_dino
grpcio==1.70.0
h11==0.16.0
h2==4.2.0
h5py==3.13.0
hjson==3.1.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.30.2
hydra-core==1.3.2
hyperframe==6.1.0
identify==2.6.9
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imgaug==0.4.0
immutabledict==4.2.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
imutils==0.5.4
iniconfig==2.0.0
interegular==0.3.3
iopath==0.1.10
ipdb==0.13.13
ipykernel==6.29.5
ipympl==0.9.6
ipython==8.35.0
ipywidgets==8.1.5
iso3166==2.1.1
isoduration==20.11.0
isort==4.3.21
jax==0.5.1
jax-cuda12-pjrt==0.5.1
jax-cuda12-plugin==0.5.1
jaxlib==0.5.1
jaxline==0.0.8
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
jmespath==0.10.0
jmp==0.0.4
joblib==1.4.2
json5==0.12.0
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
lagent==0.2.4
langcodes==3.5.0
language_data==1.3.0
lap==0.5.12
lark==1.2.2
latex2mathml==3.77.0
lazy_loader==0.4
libclang==18.1.1
libcst==1.6.0
lightning-utilities==0.14.0
linkify-it-py==2.0.3
llava==0.0.1.dev0
llvmlite==0.44.0
lmdb==1.6.2
lmdeploy==0.7.3
lvis==0.5.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==2.2.0
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.7.0
matplotlib-inline==0.1.7
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapy==1.2.2
mistune==3.1.3
ml-dtypes==0.4.1
ml_collections==1.0.0
mmcls==0.25.0
mmcv==1.5.0
mmdet==2.25.3
mmengine==0.10.6
mmengine-lite==0.10.7
mmsegmentation==0.30.0
model-index==0.1.11
moviepy==2.1.2
mpi4py_mpich==3.1.5
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.27.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.2
notebook_shim==0.2.4
numba==0.61.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvcc-cu12==12.8.61
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
nvitop==1.4.2
omegaconf==2.3.0
open-clip-torch==2.20.0
openai==1.67.0
openai-clip==1.0.1
opencv-python==4.11.0.86
opendatalab==0.0.10
OpenEXR==3.3.2
openmim==0.3.9
openpyxl==3.1.5
openxlab==0.0.11
opt_einsum==3.4.0
optax==0.2.4
optree==0.14.1
ordered-set==4.1.0
orjson==3.10.15
oss2==2.17.0
outlines==0.2.1
outlines_core==0.1.26
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pathspec==0.12.1
peft==0.10.0
pexpect==4.9.0
pformat==0.0.1
phx-class-registry==4.1.0
pillow==10.2.0
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.1.1
pre_commit==4.2.0
preshed==3.0.9
prettytable==3.14.0
proglog==0.1.10
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pybind11==2.13.6
pycocoevalcap==1.2
pycocotools==2.0.8
pycodestyle==2.6.0
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyflakes==2.2.0
Pygments==2.19.1
pyiqa==0.1.10
pynvml==12.0.0
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytorch-lightning==2.5.0.post0
pytubefix==8.12.2
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.4.0
qwen-vl-utils==0.0.10
ray==2.43.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.23.1
ruff==0.9.7
s3transfer==0.11.4
safetensors==0.5.2
-e git+https://github.com/IDEA-Research/Grounded-SAM-2@dd4c5141b75e4838dd486c64f773c43b4db3a07b#egg=SAM_2
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.1.99
sentry-sdk==2.22.0
setproctitle==1.3.5
sgmllib3k==1.0.0
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
simple-parsing==0.1.7
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spatial_correlation_sampler==0.5.0
srsly==2.5.1
stack-data==0.6.3
starlette==0.45.3
streamlit==1.42.2
streamlit-image-select==0.6.0
submitit==1.5.2
supervision==0.25.1
svgwrite==1.4.3
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.18.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.7
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
termcolor==2.5.0
terminado==0.18.1
terminaltables==3.1.10
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2025.3.13
tiktoken==0.9.0
timeout-decorator==0.5.0
timm==1.0.13
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
torch==2.5.1
torchmetrics==1.6.3
torchsde==0.2.6
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.51.3
transformers-stream-generator==0.0.5
trimesh==4.6.4
triton==3.1.0
typeguard==2.13.3
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.1
uc-micro-py==1.0.3
ultralytics==8.3.78
ultralytics-thop==2.0.14
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.29.3
visualizer==0.0.1
wandb==0.19.8
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0
Werkzeug==3.1.3
wget==3.2
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.17.2
xformers==0.0.29
xtuner==0.1.23
xxhash==3.5.0
yacs==0.1.8
yapf==0.40.1
yarl==1.18.3
zipp==3.21.0
